In [4]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [5]:
tickerSymbol = 'BTC-USD'

# Get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

# Get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start='2010-7-17', end='2023-7-23')

# See your data
tickerDf

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-17 00:00:00+00:00,30249.626953,30336.400391,29685.783203,30145.888672,13240156074,0.0,0.0
2023-07-18 00:00:00+00:00,30147.070312,30233.656250,29556.427734,29856.562500,13138897269,0.0,0.0
2023-07-19 00:00:00+00:00,29862.046875,30184.181641,29794.269531,29913.923828,12128602812,0.0,0.0
2023-07-20 00:00:00+00:00,29915.250000,30195.531250,29638.095703,29792.015625,14655207121,0.0,0.0
2023-07-21 00:00:00+00:00,29805.111328,30045.998047,29733.851562,29908.744141,10972789818,0.0,0.0